body{
margin:0;
height:100vh;

display:flex;
justify-content:center;
align-items:center;

background-image: url("fotos/home.png");
background-size: cover;
background-position: center;
background-repeat: no-repeat;

font-family: Arial, sans-serif;
}



/* título */
.titulo{
color:white;
font-size:45px;
margin-bottom:35px;
text-shadow:3px 3px 0px black;
}

/* BOTÕES */
.botao{

display:block;
width:220px;
margin:15px auto;
padding:15px;

font-size:22px;
font-weight:bold;

color:white;

background: linear-gradient(180deg,#66bb6a,#2e7d32);

border:3px solid #1b5e20;
border-radius:12px;

cursor:pointer;

transition: all 0.25s ease;
}

/* efeito ao passar o mouse */
.botao:hover{

background: linear-gradient(180deg,#81c784,#388e3c);

transform: scale(1.08);

box-shadow:0 0 15px rgba(0,255,0,0.6);

}

/* efeito ao clicar */
.botao:active{

transform: scale(0.95);

box-shadow:0 0 5px rgba(0,0,0,0.8);

}